/* ================ Navbar ================ */

.nav-custom.sticky-header {
    background-color: #222;
}

.nav-custom #siteNav>li>a,
.nav-custom .iconset .icon {
    color: #fff !important;
}

/* ================ Heading ================ */
.banner-text .section-header h2 {
    font-size: 32px;
}

.banner-text .section-header p {
    font-size: 19px;
}

/* ================ Collection ================ */

.collection-banners .collection-grid-item img {
    height: 300px;
    object-fit: cover;
}
